@import "tailwindcss";

@theme {
  --color-brand-primary: #e50914; /* Netflix Red */
  --color-brand-secondary: #000000; /* Deep Black */
  --color-brand-background: #141414; /* Dark Grey */
  --font-sans: 'Inter', sans-serif;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
